<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Home Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Smart Home Management System</h1>
    <nav class="menu">
        <a href="/users" class="button">Users</a>
        <a href="/devices" class="button">Devices</a>
        <a href="/controls" class="button">Controls</a>
        <a href="/devicetypes" class="button">Device Types</a>
        <a href="/operations" class="button">Operations History</a>
    </nav>
</body>
</html>