<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #f9f9f9;
        }

        .content {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 3em;
            margin-bottom: 30px;
            color: #333;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .menu a.button {
            background-color: #0056b3; /* Darker blue color */
            color: white;
            padding: 15px 30px;
            border-radius: 8px;
            font-size: 18px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-flex; /* Flexbox for centering */
            align-items: center; /* Center text vertically */
            justify-content: center; /* Center text horizontally */
            width: 180px; /* Uniform button width */
            box-sizing: border-box; /* Ensure padding doesn't affect width */
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Added shadow */
        }

        .menu a.button:hover {
            background-color: #003d7a; /* Even darker blue for hover */
            transform: scale(1.05);
        }

        .menu a.button:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Welcome to the Smart Home Management System</h1>
        <nav class="menu">
            <a href="/users" class="button">Users</a>
            <a href="/devices" class="button">Devices</a>
            <a href="/controls" class="button">Controls</a>
            <a href="/devicetypes" class="button">Device Types</a>
            <a href="/operations" class="button">Operations History</a>
        </nav>
    </div>
</body>
</html>