<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Type Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Device Type Details</h1>
        <div class="section">
            <table>
                <tr>
                    <th>Type ID</th>
                    <td>{{type.typeID}}</td>
                </tr>
                <tr>
                    <th>Type Name</th>
                    <td>{{type.typeName}}</td>
                </tr>
            </table>
            <a href="/deviceTypes" class="button">Back to Device Types</a>
        </div>
    </div>
</body>
</html>